# Ignore Data (Too large for GitHub)
data/
*.xlsx
*.csv
*.jpg
*.png

# Ignore Virtual Environment (System specific)
venv/
__pycache__/

# Ignore Environment Variables (Security)
.env
.DS_Store

# notes to keep on track
notes.txt